<footer class=" w3-white w3-bottom w3-bar w3-container">
    <a href="https://time.is/" id="clock" class="w3-white  w3-hover-opacity w3-small"></a>
    {% with 'facebook instagram linkedin snapchat twitter w3schools' as list %}
        {% for i in list.split %}
            <a href="https://www.{{ i }}.com/" title="{{ i }}" target="_blank" rel="noopener"> 
                <img src="/static/svg/{{ i }}.svg" 
                style="width:32px;height:32px;" 
                alt="{{ i }}"
                class="w3-white w3-right w3-hover-opacity" > 
            </a>
        {% endfor %}
    {% endwith %}
</footer>