{% with 'index about links contact server location clock todo blog admin' as list %}
    <div class="w3-bar w3-white w3-small w3-padding-small">
        <a href="/home" class="w3-bar-item w3-button">Home</a>
        {% for i in list.split %}
        <a href="/{{ i }}" class="w3-bar-item w3-button w3-hide-small">{{ i |capfirst}}</a>
        {% endfor %}

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium "
            onclick="myFunction()">&#9776;</a>
    </div>

    <div id="demo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
            {% for i in list.split %}
            <a href="/{{ i }}" class="w3-bar-item w3-button ">{{ i |capfirst}}</a>
            {% endfor %}       
    </div>
{% endwith %}
<!-- menu-1214315.svg -->