{% extends "index/base.html" %}
{% block title %} Index {% endblock %}

{% block page_content %}
    <div class="w3-container">
        <h1>Server, Page!</h1>

        {% with 'p020 p021 p30 p31 p32 caladan p112 HDHomeRun localhost HUMAX Nest BT-Whole-Home-be8 win10 ESP_C0BDBB ESP_C054D8 audiocast BT-Whole-Home-bc8 bthub p113' as list %}
            {% for i in list.split %}
                <a href="http://{{ i }}.holm" title="{{ i }}" target="_blank" rel="noopener">{{ i }}</a>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}

