<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Put your description here.">
    <meta name="theme-color" content="#317EFB" />
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <title>JSON Test</title>
  </head>

  <header>
    <a href="\">Django Girls Blog</a>
    | <a href="{% url 'home' %}">Home</a>
    | <a href="{% url 'about' %}">About</a>
    | <a href="{% url 'contact' %}">Contact</a>
  </header>

  <body>
    {% block content %}
    {% endblock %}
  </body>

  <footer>
      <h1>Footer</h1>
  </footer>
  <script type="text/javascript" src="{% static 'js/pages.js' %}"></script>
</html>